language: java
jdk:
- oraclejdk8

env:
  global:
  - secure: 27P1EPwJ1uqgpJtGzKOGCKRtDKKMXjIWw1nff1DwzLHuT0PVma5nyawF+AvV6o57HscRNhWnEFpgLWbsPXIFTmyOv5FCstzfWOBjugN+cX72vCa3V7lIVqxU+55v+P9Y0BHAsqliZbbQR8MoayXWnOwWcvXmrgNB6peo8WzuFfzMjjNzVF8PO2W38krPZPKh1IhDDpcGAGtUkLYWyhZXlFt7CucjBmIxZui7LOUEr3LTQAD9Q6RhYaNCKGDnjWGgjjO3dDR9lqGnYDECgHIHyYAKc/QFdl9q1ku4hioabIoP4wjmaKJKnUOzwsfk1oKk4pR7QV4IcCRHDNYr8pvqv2YwVdx0N1apemQxtctPNVxC5ehHup38DOtNJV6VImbLtejvJEQWYJSS/Oo54EfNMdncwp2ehm0u1Rsf9HJH41OxtQoMUYxC4ZNIs8g2yMY8Mqlew0lOLx1bsQU0HlFfKSaJLiuYW45MUKrNv8tRaj62Uyl9SeiujjMJox7AzmsBqHDCd/vpmrI9VPSucMzM41M3dEJEip3xdayTAkMkE08vwsLWBo9o+LcU/rWLPsPC2XyFozE6Ks3KBwHEmqKN5TMvjQRtoZfbQwfCpdDDtolatrAxCpYz/3SHNUco3699VSG9c0ujKpe3EtkwGVu0TFEFGSHnJdMmGgakHU5xTro=
  - secure: wLQoMhvVaHyC2SsMvxcvGUm1wP573WrnaL42jgi1CRYps81p9Hnls3fDnM36QgCESHI3HxYqL24w9tTZqIrPQH12otRs5kdYyn+27zZQtEBdKVUQkungcx6bCVUt36CIL0Zc02/w/g22fFnV341vXpbH935zK5pMRNrfVue/3/eFmog2hEXtN+CK/egRRBxG5d7erZdQHAZxt5gAjfdOP9IlCwaKtSCJd95liCVpMj4bEhJQEQEJtIdxBrehoewzouY5MZIdchuJ7znFL10+LWvn8uUYWHvFLFTRlletTzlF9NAhzboxaWrqetRIe0O+Qey7v1c+k4kIVK97OkBwmIx8yKuFcctQO4voBULa+isWaArKwxf08B0IO8FRCIIui29SYTM8G1TDfwpRP9lHxcPXKk5SYw1OoIXTnTkPZ9ODd7Gs0Jq4pVbCpEugBxN7/jXC3MZo7eltGfLhfiDhl9OMDGRnPL3URGje1fSdp3nT/V4pSe68em05TfJTeuigAhCTNg48wN2MHNpwaV/SGSRDbhHO/FhgAnlMIBuZtEPLp7G8DmjmYSpDK0aDD5DAE6STUdlEWwsNiZAeuWVYQ47QLmTbZNe2Xo4GCA30iC3PvmARXKdLrj2w/EDkTuZKMyInkBn0Wt8gxlogMhzy6kCsJZ79t1YvOJ0JZoIAgcQ=
  - secure: "Z266M/kHy1L1C+MPMBWGb5JPtOEcsKTskjDS8m/iPPgKJoVJwSveHcK2U14vdtzCL4FOiFfBY0heziTXy/lbZ2z9u3Hhg8stmKDNC069HKw3beAarvm5rv/9R9uyTvJIptn7pUf2movZLHUnhmtn0QBw+iF9+W6zrL/7bbW2pgdIpBr/I8vlDkgsfyVC5WHp5fd9PfHPlLydbTcU9eSHmwM6X/LqqPapyqE91EBdMkGWge8tv6Ur8yRowGDsd/9nAuBgFgOTfHx71050uvpejRvUE5Nri1jUDVb0whDTWEoCQW39JwQ4RH4vb1kDLIiOsYbTCNSx0lsWlGyrSlsqhWODqT+UPxr6nccGT6xF1EiDzPCdE/tyVFtaTYdV/viz1+OuYoXuH8FRhEr/umG0AGpMJ+YEZXa57tLgdW2qHfKCWICHekcJ1IQecLzwvOJpWIOlJlNhMJ6OZd89gO/DsGr5qmd+CdBzc7+z+8eE0UwSzribAP1yvn8Sq6s2Wl3wW9FMVCFzMhLmXBlzP4YlhA9SpdxgWqweJ1i6SAnhOpZ3mgTfYJDiq0R+3hzjoDjS4YCKTHqQfqJE4PfrQD7rTLV+AsIu9edUfze9s4rfflQzBLSz5LsXeM3XTRqp7MIRU5suzrYFfoZZ9JHtPRhFmuYtzgIBGrhpNfswLmhHmfc="
  - secure:  "GKtY7vGm1pchfZrMC80cc/FaLrROUWwmVC+kd8X9HcPH4Yai0YF9Qz300oZL2TI4Ed3PxwhmQD9IZeV3hhQmNy+4L4DOQfKrXrY487Dl2um4hPLjy6t4tpiWFHdR41GszMQll7hNY5rgUzs8tmtybNvY1D5EkjNkhFfZInpr0wekGnGSunjwSr+PZi2ujW75mVa0EmvW+gVON87Jh6/8paSFXtPYNh6YQaBT42r7sjpOTIJYkkLWsnrpM7SYTLf3PjPGKNRpPzgFrenP59SInAhfqvBf3oeFyKmhDh5HACwOVUzV4dt4DWzTZS9GeHkIE23jJTY1ph5LT/e4/UYQ2TaZybkzGBkPw18VFclEoaN9/tuTYIr+dUnr3Fw3ywZMVVOlc0OOvEOZlUYDffHHYiQAYPm+ZVEf96Cfv8l+2kZxk3v73Y6kbPmesurQYSNU+0Pn5ApVvsJwKxOqe7bPB4UlViMW3A3v0yLsh2kANL4tsnAlz4FVZgr9oY/sHmwx6wAXR9BZoBoSjIHM2ZTa9V9NgykMhqtSFc/xJvqm3EJrwbHYqav3xMSGp2TSRvDnDZZZZPDHSox4fyrgrOkZyYqqS5DyjfYq7uTUHHB4DTD9yEuRS73eKPttomnMFOVW3EMiqA5LmP3SfqMRzA0XLkJ9u3vJeRRIXNNoRXzfVrI="

services:
- docker

after_success:
  - wget https://github.com/maxwo/ci/releases/download/0.1.0/ci-0.1.0.tar.gz -O - | tar -xz
  - ci/travis/codacy_java_coverage.sh
  - ci/travis/coveralls_java_coverage.sh
  - ci/travis/docker_deploy.sh
  - mvn javadoc:javadoc

deploy:
  - provider: pages
    local_dir: target/site/apidocs
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    on:
      branch: master
