language:       java

jdk:
- oraclejdk8

env:
  global:
  - secure:     27P1EPwJ1uqgpJtGzKOGCKRtDKKMXjIWw1nff1DwzLHuT0PVma5nyawF+AvV6o57HscRNhWnEFpgLWbsPXIFTmyOv5FCstzfWOBjugN+cX72vCa3V7lIVqxU+55v+P9Y0BHAsqliZbbQR8MoayXWnOwWcvXmrgNB6peo8WzuFfzMjjNzVF8PO2W38krPZPKh1IhDDpcGAGtUkLYWyhZXlFt7CucjBmIxZui7LOUEr3LTQAD9Q6RhYaNCKGDnjWGgjjO3dDR9lqGnYDECgHIHyYAKc/QFdl9q1ku4hioabIoP4wjmaKJKnUOzwsfk1oKk4pR7QV4IcCRHDNYr8pvqv2YwVdx0N1apemQxtctPNVxC5ehHup38DOtNJV6VImbLtejvJEQWYJSS/Oo54EfNMdncwp2ehm0u1Rsf9HJH41OxtQoMUYxC4ZNIs8g2yMY8Mqlew0lOLx1bsQU0HlFfKSaJLiuYW45MUKrNv8tRaj62Uyl9SeiujjMJox7AzmsBqHDCd/vpmrI9VPSucMzM41M3dEJEip3xdayTAkMkE08vwsLWBo9o+LcU/rWLPsPC2XyFozE6Ks3KBwHEmqKN5TMvjQRtoZfbQwfCpdDDtolatrAxCpYz/3SHNUco3699VSG9c0ujKpe3EtkwGVu0TFEFGSHnJdMmGgakHU5xTro=
  - secure:     wLQoMhvVaHyC2SsMvxcvGUm1wP573WrnaL42jgi1CRYps81p9Hnls3fDnM36QgCESHI3HxYqL24w9tTZqIrPQH12otRs5kdYyn+27zZQtEBdKVUQkungcx6bCVUt36CIL0Zc02/w/g22fFnV341vXpbH935zK5pMRNrfVue/3/eFmog2hEXtN+CK/egRRBxG5d7erZdQHAZxt5gAjfdOP9IlCwaKtSCJd95liCVpMj4bEhJQEQEJtIdxBrehoewzouY5MZIdchuJ7znFL10+LWvn8uUYWHvFLFTRlletTzlF9NAhzboxaWrqetRIe0O+Qey7v1c+k4kIVK97OkBwmIx8yKuFcctQO4voBULa+isWaArKwxf08B0IO8FRCIIui29SYTM8G1TDfwpRP9lHxcPXKk5SYw1OoIXTnTkPZ9ODd7Gs0Jq4pVbCpEugBxN7/jXC3MZo7eltGfLhfiDhl9OMDGRnPL3URGje1fSdp3nT/V4pSe68em05TfJTeuigAhCTNg48wN2MHNpwaV/SGSRDbhHO/FhgAnlMIBuZtEPLp7G8DmjmYSpDK0aDD5DAE6STUdlEWwsNiZAeuWVYQ47QLmTbZNe2Xo4GCA30iC3PvmARXKdLrj2w/EDkTuZKMyInkBn0Wt8gxlogMhzy6kCsJZ79t1YvOJ0JZoIAgcQ=
  - secure:     Z266M/kHy1L1C+MPMBWGb5JPtOEcsKTskjDS8m/iPPgKJoVJwSveHcK2U14vdtzCL4FOiFfBY0heziTXy/lbZ2z9u3Hhg8stmKDNC069HKw3beAarvm5rv/9R9uyTvJIptn7pUf2movZLHUnhmtn0QBw+iF9+W6zrL/7bbW2pgdIpBr/I8vlDkgsfyVC5WHp5fd9PfHPlLydbTcU9eSHmwM6X/LqqPapyqE91EBdMkGWge8tv6Ur8yRowGDsd/9nAuBgFgOTfHx71050uvpejRvUE5Nri1jUDVb0whDTWEoCQW39JwQ4RH4vb1kDLIiOsYbTCNSx0lsWlGyrSlsqhWODqT+UPxr6nccGT6xF1EiDzPCdE/tyVFtaTYdV/viz1+OuYoXuH8FRhEr/umG0AGpMJ+YEZXa57tLgdW2qHfKCWICHekcJ1IQecLzwvOJpWIOlJlNhMJ6OZd89gO/DsGr5qmd+CdBzc7+z+8eE0UwSzribAP1yvn8Sq6s2Wl3wW9FMVCFzMhLmXBlzP4YlhA9SpdxgWqweJ1i6SAnhOpZ3mgTfYJDiq0R+3hzjoDjS4YCKTHqQfqJE4PfrQD7rTLV+AsIu9edUfze9s4rfflQzBLSz5LsXeM3XTRqp7MIRU5suzrYFfoZZ9JHtPRhFmuYtzgIBGrhpNfswLmhHmfc=
  - secure:     "tdMMEXLSdrT4gqrBUUg8Sv6ucX0t2OZRvwZ72oh7NJlh66F3xJVtlDw/Vp56hrACnAAjVe3APFJUd6qG4Mfx3ywSdhq6IqkWWVOiyF+XhS1+PnvQR37X5oMxnLMi10qe8lMXX1umDwuQEf6Kx09IR8WDGHV3dt2FYMx8Cc3YrI2dNUcLlBOGSkir52IyvEN2iJ3b/85mA0Rq5JfyHm5kbJugSQgnMiAlEu80EM95krz1/A2UW6EI2a4J/VrVpo/6LJCdShmZTv1Y0tR3Gc7RU6TyBmtaDOjR9X1KPDzVsM0TSTfmqwHpeG0QBa+JkHFCo79/OlNlJLc7QsFqa91ed3vNFBcmToc/7GKccOX5cYSCVJuJeRO49PhAgQ9NpU4YWM1foLlkC674Q9K2cji1oT15+Hyk7/JjKXDA0ds/JcaP89hDH/lxoNgAghfaMPM1CezKmhEgBDXK+21UcR54FVDvyTLE4knA1HCpQyj7bcW0JgE1UXYe+HdilQtFdKpM5VWFFI6FvFHph+X8VtHAyufW8m7ZbXQX5leI8K0tEXpQammDSM8Q+bdElUjg57/guxzTBtLeSyFyxDEL6eMBheFAGr1GDaaMnrQhlEBwSGkmuJcUt7W2fxLQbMYMLuHedC+MWfHaTGvAJPkOEx5T7kr8RsG6WwxcZeg+ky0c8VI="

services:
- docker

after_success:
- wget https://github.com/maxwo/ci/releases/download/0.1.0/ci-0.1.0-sources.tar.gz -O - | tar -xz -C /tmp
- /tmp/ci/travis/codacy_java_coverage.sh
- /tmp/ci/travis/coveralls_java_coverage.sh
- /tmp/ci/travis/docker_deploy.sh

deploy:
- provider:     script
  script:       mvn site
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch:     master
- provider:     pages
  local_dir:    target/site
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch:     master
- provider: releases
  skip_cleanup: true
  api_key:
    secure: aMXkvlBNV88HToQ92y4SqhxHGVJASWuM/EtEn6DDohtlyONQOJ5zTQS/mEtDHhSKddHqDnTlbdrJMI0rhlQyIr4E74wzB/zKCkR6dcm2e1lKts0bTvqke7iO1w4mGDnAeQEBlOjrTiJItmemZg1uf45EFBljGfiQWwQlZG0I16Bl19waOQ1tv43XLOFRl1P2GJXrpwTw6W2uQfkMNUUTnFumeDvLXNIB/tePUnh3/FRQGLTj8gBG7YoU64T/XOXG4u3YTSm/HbBIU08ZVS1BCn2hSc/L4/5Hia3iWKv6uKeTEqiE/1zP9Tw/wduHordCcNYnw6tF/f/iEfa2cH8t2FSq8HzYdK/O0pmPHD0Kk0JPtm0fjGgG5f58489eeyibhNL78/nNhc/WyKrRCUTIvchkjk2/xPN1gZkkutb6u1v0PC/K+gJVB3tkqALI4HcWQ6gI1TxA5GXP3c5VOQPOcaNVdwLKuaa2+CmkMiAOibTYnJzys01pky0i4/zgZ+wZ15efk5cdcdsKLWHyjTVWFle1xSmocysEKe/Mq7GpKdvZn3Jy5+pUFKjYbKylvnEMbV01ogOTuQq+LslAV+0oYhetawMHti35KZ1xW5r7CIER7gKKWrd9/H5an2HfFHEYDEyp+NsW7XtRR5AP9j7CN6/bG6FMwsnE+Nzsn7DqgQE=
  file: target/healthcheck-$TRAVIS_TAG.jar
  on:
    tags: true
